<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Some page{% endblock %}</title>
</head>
<body>
  {% block menu %}
    <nav>
        <a href="/">Home</a>
        <a href="#">About</a>
    </nav>
  {% endblock %}

  {% block content %}
    <div class="content">
        {% block app_content %}

        {% endblock %}
    </div>
  {% endblock %}

</body>


{% block scripts %}
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

</html>